._1cont{
    display: flex;
    flex-direction: column;
}
.container {
   flex:1;
}
.banner div {
    
    display: block;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    box-sizing: inherit;
    background-color: #171a29;
    color: #fff;
    height: 245px;
    transition: transform .2s ease-in-out,background-color .2s ease-in-out,color .2s ease-in-out;
    margin: 0 -20px;
    transform-origin: left top;
    transform: scaleX(1);
    pointer-events: auto;
    padding: 0 20px;
    
}
.restimg{
    width: 220px;
    height: 145px;
    padding: 50px;
}

.banner  {
    flex:3;
    background-color: #171a29;
  display: flex;
}
.img12{
    flex: 1;
    padding: 20px;
    
}
.restinf{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offers{
    flex: 1;
}

.content_container{
    display: flex;
    flex-direction: row;
}
.content_container div{
    
    text-align: center;
    list-style-type: none;
}
.nav_1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
}
.nav_1 li{
    float: right;
}
.nav01{
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 16px;
    overflow: hidden;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    color:#3D4152;
    flex-direction: row;
    align-items: center;

    
}
.sidebar{
    flex: 1;
    height: 400px;
    border-right: 1px solid #93959f;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    color: #282c3f;
    
    flex-grow: 1;
    width: 648px;
    padding: 30px 55px 100px;
}
.content{
    flex: 2;
    height: 400px;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    color: #282c3f;
    box-sizing: inherit;
    flex-grow: 2;
    width: 648px;
    padding: 30px 55px 100px;
    display: flex;
    flex-direction: column;
}
.cart{
    flex: 1;
    height: 400px;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    color: #282c3f;
    box-sizing: inherit;
    flex-grow: 1;
    width: 648px;
    padding: 30px 55px 100px;
}
.logo{
    align-items: left;
    margin-right: 550px;
}

.bannerinfo{

    margin: auto auto;
}

._1tr{
    border-bottom: 1px solid #ddd;
    text-align: left;
    
}
._2tr{
    border-bottom: 1px solid #ddd;
    text-align: left;
    
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    
    color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    box-sizing: inherit;
}
.tabban{
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    font-size: 32px;

}
.tabinf{
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    
    color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    box-sizing: inherit;
}
.cendiv{
 align-items: center;
 padding-top: 50px;
}

.conttxt{
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 400px;
}
.fooddesc{
    text-align: left;

}
.contimg{
    width: 100px;
    height: 90px;
    float: right;
    margin-left:15px;
    
}
.navgtr{
    text-decoration: none;
    list-style-type: none;
    text-align: right;
}
.linav{
    display: inline;
}

.srchnav{
    font-size: 30px;
}

  